In [2]:
# % pip install pandas
import pandas as pd
import random

# 1st way: dictionaries
names = ["Messi", "Ronaldo", "Haaland", "Mbappe", "Neymar"]
data_dict = {
    "players": names,
    "shots": [random.choice(range(4)) for i in range(len(names))],
    "goals": [random.choice(range(7)) for i in range(len(names))],
    "assists": [random.choice(range(4)) for i in range(len(names))],
}

df1 = pd.DataFrame(data=data_dict)
df1

   players  shots  goals  assists
0    Messi      2      3        1
1  Ronaldo      3      0        0
2  Haaland      2      0        2
3   Mbappe      3      6        3
4   Neymar      1      2        2

In [ ]:
# shots = [random.choice(range(7)) for i in range(len(names))]
# goals = [random.choice(range(4)) for i in range(len(names))]
# assists = [random.choice(range(4)) for i in range(len(names))]
# data = [names, shots, goals, assists]
columns = ["name", "shots", "goals", "assists"]
data = [[
    name,
    random.choice(range(4))
    ] for name in names]
df2 = pd.DataFrame(data=data)
df2

       0        1        2       3       4
0  Messi  Ronaldo  Haaland  Mbappe  Neymar
1      1        2        1       2       5
2      2        1        2       1       0
3      3        1        1       2       2